// Fonts

// $default-font: 'SFUIDisplay-Regular', sans-serif;

$heading-font: 'SFUIDisplay-Heavy', sans-serif;
$default-font: 'SFUIDisplay-Light', sans-serif;
$default-bold-font: 'SFUIDisplay-Bold', sans-serif;

// Colors

$accent		: red;
$blue       : #0080ff;
$lightblue  : #91bcff;
$gray       : #ececec;
$black      : #333333;

// Ints

$gutter: 20px;